<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Liver Disease Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/Bootstrapfiles/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/Bootstrapfiles/css/fontawesome-all.min.min.css" rel="stylesheet">
    
  

    <!-- Custom styles for this template -->
    <link href="../static/Bootstrapfiles/css/mystyle.css" rel="stylesheet">
  </head>

  <body class="text-center" style="background-color:rgb(173, 28, 64)">




        		<div class=" d-flex h-100 p-3 mx-auto flex-column">
                <header class="masthead mb-auto">
                  <div class="inner">
                    <h3 class="masthead-brand">15CS496L-Major Project</h3>
                    <nav class="nav nav-masthead justify-content-center">
                      <a class="nav-link " href="/">Home</a>
                      <a class="nav-link active" href="/predict">Predict</a>
                    </nav>
                  </div>
                </header>
          
                <main role="main" class="inner cover">
                  
                  <h1 class="cover-heading" style="font-size:80px;">Prediction</h1>
                  <div style="border:1px solid white;margin-bottom:10px; width:800px;padding:20px;">
                      <i class="fas fa-exclamation-triangle fa-5x"></i>
                      <p class="lead" style="font-size:30px;">{{pred}}</p>
                      <p class="lead" style="font-size:40px;"> " There is a Possiblity that you are having Liver Disease "</p>
                  </div>
                 
                  <p class="lead">
                    <a href="/" class="btn btn-lg btn-secondary">Learn more</a>
                  </p>
                  
                </main>
          

                
              </div>










    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    <script src="../static/Bootstrapfiles/css/fontawesome-all.js"></script>
    <script src="../static/Bootstrapfiles/js/bootstrap.min.js"></script>
  </body>
</html>
