<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Liver Disease Predictor</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/Bootstrapfiles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="carousel.css" rel="stylesheet">
  </head>
  <body class="text-center">

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="#">15CS496L-Major Project</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse"></div>
          
              <ul class="navbar-nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/test">Predict</a>
                  </li>
                </ul>
          
        </div>
      </nav>
    </header>

    <main role="main">



      <!-- Marketing messaging and featurettes
      ================================================== -->
      <!-- Wrap the rest of the page in another container to center all the content. -->

      <div class="container marketing">

        <!-- Three columns of text below the carousel -->
        <div style="height:100px;">


        </div>


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">
        <div class="jumbotron" style="background-color:#333;color:white">
          <h1 class="text-center" style="font-size:80px;">Liver Disease Predictor</h1>
          <p class="text-center" style="margin-top:30px;">
              <a href="/test" class="btn btn-lg btn-primary">Predict Now</a>
            </p>
        </div>
        <div class="container text-center"><h1 style="padding:30px;">Information About Different Liver Enzymes</h1></div>
        
        
        <hr class="featurette-divider">

        <div class="row featurette" style="margin-top:50px;">
            <div class="col-md-7">
              <h1 class="featurette-heading"><u>Total bilirubin</u></h1>
              <p class="lead">This is a blood test that measures the amount of a substance called bilirubin. This test is used to find out how well your liver is working. It is often given as part of a panel of tests that measure liver function. A small amount of bilirubin in your blood is normal, but a high level may be a sign of liver disease.
                  The liver makes bile to help you digest food, and bile contains bilirubin. Most bilirubin comes from the body's normal process of breaking down old red blood cells. A healthy liver can normally get rid of bilirubin. But when you have liver problems, bilirubin can build up in your body to unhealthy levels.</p>
            </div>
            <div class="col-md-5">
              <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                <tr>
                  <td align="center">Range</td>
                </tr>
                <tr>
                    <td align="center"><b> .22 - 1.0 mg/dl </b></td>
                  </tr>
              </table>
            </div>
          </div>
  
          <hr class="featurette-divider" style="height:100px;">

          <div class="row featurette">
              <div class="col-md-7 order-md-2">
                  <h1 class="featurette-heading"><u>Direct bilirubin</u></h1>
                <p class="lead">The diagnosis is narrowed down further by evaluating the levels of direct bilirubin.
                    If direct (conjugated) bilirubin is normal, then the problem is an excess of unconjugated bilirubin (indirect bilirubin), and the location of the problem is upstream of bilirubin conjugation in the liver. Hemolysis, or internal
                    hemorrhage can be suspected.
                    If direct bilirubin is elevated, then the liver is conjugating bilirubin normally, but is not able to excrete it. Bile duct obstruction by gallstones, hepatitis, cirrhosis or cancer should be suspected.</p>
              </div>
              <div class="col-md-5 order-md-1">
                  <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                      <tr>
                        <td align="center">Range</td>
                      </tr>
                      <tr>
                          <td align="center"><b> 0.0 - 0.2 mg/dl </b></td>
                        </tr>
                    </table>
              </div>
            </div>
    
            <hr class="featurette-divider" style="height:100px;">

            <div class="row featurette" style="margin-top:50px;">
                <div class="col-md-7">
                  <h1 class="featurette-heading"><u>Alkaline phosphatase</u></h1>
                  <p class="lead">Alkaline phosphatase (ALP) is an enzyme in the cells lining the biliary ducts of the liver. ALP levels in plasma rise with large bile duct obstruction, intrahepatic cholestasis, or infiltrative diseases of the liver. ALP is also
                      present in bone and placental tissue, so it is higher in growing children (as their bones are being remodelled) and elderly patients with Paget's disease. In the third trimester of pregnancy, ALP is about two to three times
                      higher.
                      Biliary tract disease produces relatively greater increases in ALP than increases in ALT, AST, or LD. ALP is associated with the plasma membrane of hepatocytes adjacent to the biliary canaliculus. Obstruction or
                      inflammation of the biliary tract results in an increased concentration of the ALP in the circulation. Similar to ALT and AST, ALP is not specific for biliary tract disease. ALP is released by osteoblasts, the ileum, and the placenta. ALP is
                      elevated: 1) in children 2- to 3-fold over adults because the child's skeleton is growing, 2) with bone disease involving osteoblasts (e.g., metastatic cancer or following a fracture), 3) in hyperparathyroidism where parathyroid hormone
                      stimulates osteoblasts through a series of steps that enhances bone resorption (e.g., parathyroid adenoma, hyperplasia, or secondary hyperparathyroidism from vitamin D deficiency or renal disease), 4) in cases of ileal disease, and 5) during
                      the third trimester of pregnancy because the placental isoenzyme is elevated.</p>
                </div>
                <div class="col-md-5">
                    <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                        <tr>
                          <td align="center">Range</td>
                        </tr>
                        <tr>
                            <td align="center"><b> 110 - 310 U/L </b></td>
                          </tr>
                      </table>
                </div>
              </div>
      
              <hr class="featurette-divider" style="height:100px;">

        

          <div class="row featurette">
              <div class="col-md-7 order-md-2">
                  <h1 class="featurette-heading"><u>Alamine Aminotransferase</u></h1>
                <p class="lead">ALT is normally found inside liver cells. However, when your liver is damaged or inflamed, ALT can be released into your bloodstream. This causes serum ALT levels to rise.
                    Measuring the level of ALT in a person’s blood can help doctors evaluate liver function or determine the underlying cause of a liver problem. The ALT test is often part of an initial screening for liver disease.
                    The ALT test is usually used to determine whether someone has liver injury or failure. Your doctor may order an ALT test if you’re having symptoms of liver disease, including:
                        • jaundice, which is yellowing of your eyes or skin
                        • dark urine
                        • nausea
                        • vomiting
                        • pain in the right upper quadrant of your abdomen</p>
              </div>
              <div class="col-md-5 order-md-1">
                  <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                      <tr>
                        <td align="center">Range</td>
                      </tr>
                      <tr>
                          <td align="center"><b> 5 - 45 U/L </b></td>
                        </tr>
                    </table>
              </div>
            </div>
    
            <hr class="featurette-divider" style="height:100px;">


            <div class="row featurette" style="margin-top:50px;">
                <div class="col-md-7">
                  <h1 class="featurette-heading"><u>Aspartate Aminotranferase</u></h1>
                  <p class="lead">Aspartate aminotransferase (AST) test is a blood test that checks for liver damage. Your doctor might order this test to find out if you have liver disease and to monitor your treatment.
                      Your liver is an organ that has many important jobs.
                      It makes a fluid called bile that helps your body digest food. It also removes waste products and other toxins from your blood. It produces proteins, as well as substances that help your blood clot. Alcohol or drug use and diseases such as 
                      hepatitis can damage your liver and keep it from doing these jobs.</p>
                </div>
                <div class="col-md-5">
                    <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                        <tr>
                          <td align="center">Range</td>
                        </tr>
                        <tr>
                            <td align="center"><b> 5 - 40 U/L </b></td>
                          </tr>
                      </table>
                </div>
              </div>
      
              <hr class="featurette-divider" style="height:100px;">


  

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading"><u>Albumin</u></h1>
              <p class="lead">Albumin is a protein made specifically by the liver, and can be measured cheaply and easily. It is the main constituent of total protein (the remaining constituents are primarily globulins). Albumin levels are decreased in
                  chronic liver disease, such as cirrhosis. It is also decreased in nephrotic syndrome, where it is lost through the urine. The consequence of low albumin can be edema since the intravascular oncotic pressure becomes lower
                  than the extravascular space. An alternative to albumin measurement is prealbumin, which is better at detecting acute changes (half-life of albumin and prealbumin is about 2 weeks and about 2 days, respectively).</p>
            </div>
            <div class="col-md-5 order-md-1">
                <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                    <tr>
                      <td align="center">Range</td>
                    </tr>
                    <tr>
                        <td align="center"><b> 3.5 - 5 gm/dl </b></td>
                      </tr>
                  </table>
            </div>
          </div>

          <hr class="featurette-divider" style="height:100px;">

        <div class="row featurette">
            <div class="col-md-7">
                <h1 class="featurette-heading"><u>Total Proteins</u></h1>
              <p class="lead">The total protein test measures the total amount albumin and globulin in your body. It's used as part of your routine health checkup. Having too many or too few proteins can lead to unexpected weight loss, fatigue, or inflammatory disease.Proteins serve as building blocks for many organs, hormones, and enzymes. Proteins are essential for overall health, which is why routine health checkups often include a total protein test.A total protein test measures the total number of proteins present in body fluid. The test examines protein in either urine or the liquid portion of the blood, which medial professionals call the serum. The total protein test can help diagnose liver and kidney diseases, along with other conditions.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                    <tr>
                      <td align="center">Range</td>
                    </tr>
                    <tr>
                        <td align="center"><b>7.2-8.0 gm/100ml</b></td>
                      </tr>
                  </table>
            </div>
          </div>

          <hr class="featurette-divider" style="height:100px;">
          
        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h1 class="featurette-heading"><u>Albumin and Globulin Ratio</u></h1>
              <p class="lead">The Albumin to Globulin ratio (A:G) is the ratio of albumin present in serum in relation to the amount of globulin. The ratio can be interpreted only in light of the total protein concentration. The normal ratio in most species approximates 1:1.Serum proteins are primarily albumin (50–60%, produced by the liver), but also include globulins and other proteins. Serum proteins maintain water balance in the blood through osmotic pressure, transport blood components and nutritional elements, help the immune system and help with coagulation. Although albumin is made exclusively in the liver, globulins are produced in many sites throughout the body. Thus, whether total protein is normal, elevated, or low, a decrease in the albumin:globulin (A/G ratio) often indicates the presence of impaired liver function.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <table align="center" border="1px solid black;" cellpadding=10px; style="margin-top:40px;width:200px;">
                    <tr>
                      <td align="center">Range</td>
                    </tr>
                    <tr>
                        <td align="center"><b> 1.7-2.2 </b></td>
                      </tr>
                  </table>
            </div>
          </div>

       
          <hr class="featurette-divider" style="height:100px;">

        <!-- /END THE FEATURETTES -->

      </div><!-- /.container -->


      <!-- FOOTER -->

      <div class=" d-flex h-100 p-3 mx-auto flex-column">
                <main role="main" class="inner cover">
                  <h1 class="cover-heading"> Liver Test</h1>
                  <hr>
                  <h3 class="cover-heading">  </h3>
                  <hr>
                  <p class="lead"> We are utilising CNN, Gradient Boosting and Random Forest Classifier to Ensure Best Prediction Result. </p>
                  <p class="lead">Fill the form to take up the liver test . </p>
                  
                  <p class="lead">
                    <a href="/" class="btn btn-lg btn-secondary">Learn more</a>
                  </p>
                  <div style="margin:100px 0px 100px 0px;">
                        <form method="POST" action="/predict">
                                <div class="form-group row">
                                  <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Age</label>
                                  <div class="col-sm-5">
                                    <input type="text" class="form-control" id="inputNormal Range is :" name="uname" placeholder="Eg. 25">
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="exampleFormControlSelect1" class="col-sm-5 col-form-label">Gender</label>
                                  <div class="col-sm-5">
                                  <select class="form-control" id="exampleFormControlSelect1">
                                      <option value="" selected disabled>Please select</option>
                                      <option>Male</option>
                                      <option>Female</option>
                                  </select>
                                  </div>
                                </div>
                
                                <div class="form-group row">
                                        <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Total_Bilirubin</label>
                                        <div class="col-sm-5">
                                          <input type="text" class="form-control" id="inputNormal Range is :" name="c0" placeholder="Normal Range is :0.22 - 1.0 mg/dl">
                                        </div>
                                      </div>
                
                                      <div class="form-group row">
                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Direct_Bilirubin </label>
                                            <div class="col-sm-5">
                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c1" placeholder="Normal Range is :0.0 - 0.2 mg/dl">
                                            </div>
                                          </div>
                
                                          <div class="form-group row">
                                                <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Alkaline_Phosphotase</label>
                                                <div class="col-sm-5">
                                                  <input type="text" class="form-control" id="inputNormal Range is :" name="c2" placeholder="Normal Range is :110 - 310 U/L">
                                                </div>
                                              </div>
                
                                              <div class="form-group row">
                                                    <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Alamine_Aminotransferase</label>
                                                    <div class="col-sm-5">
                                                      <input type="text" class="form-control" id="inputNormal Range is :" name="c3" placeholder="Normal Range is :5 - 45 U/L">
                                                    </div>
                                                  </div>
                
                                                  <div class="form-group row">
                                                        <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Aspartate_Aminotransferase</label>
                                                        <div class="col-sm-5">
                                                          <input type="text" class="form-control" id="inputNormal Range is :" name="c4" placeholder="Normal Range is :5 - 40 U/L">
                                                        </div>
                                                      </div>
                
                                                      <div class="form-group row">
                                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Albumin</label>
                                                            <div class="col-sm-5">
                                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c5" placeholder="Normal Range is :3.5 - 5 gm/dl">
                                                            </div>
                                                          </div>

                                                      <div class="form-group row">
                                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Total Proteins</label>
                                                            <div class="col-sm-5">
                                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c5" placeholder="Normal Range is :7.2-8.0 gm/100ml">
                                                            </div>
                                                          </div>

                                                      <div class="form-group row">
                                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">A/G Ratio</label>
                                                            <div class="col-sm-5">
                                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c5" placeholder="Normal Range is :1.7-2.2">
                                                            </div>
                                                          </div>
                
                                                          <button type="submit" class="btn btn-primary mb-2" type="submit">Predict</button>
                              </form>

                  </div>
                </main>
          

              </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../static/Bootstrapfiles/css/fontawesome-all.js"></script>
    <script src="../static/Bootstrapfiles/js/bootstrap.min.js"></script>
  </body>
</html>
