<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../../../favicon.ico"> -->

    <title>Liver Disease Prediction</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/Bootstrapfiles/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/Bootstrapfiles/css/mystyle.css" rel="stylesheet">
  </head>

  <body class="text-center">




        <div class=" d-flex h-100 p-3 mx-auto flex-column">
                <header class="masthead mb-auto">
                  <div class="inner">
                      <h3 class="masthead-brand"></h3>
                    <nav class="nav nav-masthead justify-content-center">
                      <a class="nav-link" href="/">Home</a>
                      <a class="nav-link active" href="/test">Predict</a>
                    </nav>
                  </div>
                </header>
          
                <main role="main" class="inner cover">
                  <h1 class="cover-heading"> Liver Disease Prediction</h1>
                  <hr>
                  <h3 class="cover-heading">  </h3>
                  <hr>
                  <p class="lead"> We are utilising CNN, Gradient Boosting and Random Forest Classifier to Ensure Best Prediction Result. </p>
                  <p class="lead">Fill the form to take up the liver test . </p>
                  
                  <p class="lead">
                    <a href="/" class="btn btn-lg btn-secondary">Learn more</a>
                  </p>
                  <div style="margin:100px 0px 100px 0px;">
                        <form method="POST" action="/predict">
                                <div class="form-group row">
                                  <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Age</label>
                                  <div class="col-sm-5">
                                    <input type="text" class="form-control" id="inputNormal Range is :" name="uname" placeholder="Eg. 25">
                                  </div>
                                </div>

                                <div class="form-group row">
                                  <label for="exampleFormControlSelect1" class="col-sm-5 col-form-label">Gender</label>
                                  <div class="col-sm-5">
                                  <select class="form-control" id="exampleFormControlSelect1" name='c111'>
                                      <option value="" selected disabled>Please select</option>
                                      <option>Male</option>
                                      <option>Female</option>
                                  </select>
                                  </div>
                                </div>
                
                                <div class="form-group row">
                                        <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Total_Bilirubin</label>
                                        <div class="col-sm-5">
                                          <input type="text" class="form-control" id="inputNormal Range is :" name="c0" placeholder="Normal Range is :0.22 - 1.0 mg/dl">
                                        </div>
                                      </div>
                
                                      <div class="form-group row">
                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Direct_Bilirubin </label>
                                            <div class="col-sm-5">
                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c1" placeholder="Normal Range is :0.0 - 0.2 mg/dl">
                                            </div>
                                          </div>
                
                                          <div class="form-group row">
                                                <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Alkaline_Phosphotase</label>
                                                <div class="col-sm-5">
                                                  <input type="text" class="form-control" id="inputNormal Range is :" name="c2" placeholder="Normal Range is :110 - 310 U/L">
                                                </div>
                                              </div>
                
                                              <div class="form-group row">
                                                    <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Alamine_Aminotransferase</label>
                                                    <div class="col-sm-5">
                                                      <input type="text" class="form-control" id="inputNormal Range is :" name="c3" placeholder="Normal Range is :5 - 45 U/L">
                                                    </div>
                                                  </div>
                
                                                  <div class="form-group row">
                                                        <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Aspartate_Aminotransferase</label>
                                                        <div class="col-sm-5">
                                                          <input type="text" class="form-control" id="inputNormal Range is :" name="c4" placeholder="Normal Range is :5 - 40 U/L">
                                                        </div>
                                                      </div>
                
                                                      <div class="form-group row">
                                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Albumin</label>
                                                            <div class="col-sm-5">
                                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c5" placeholder="Normal Range is :3.5 - 5 gm/dl">
                                                            </div>
                                                          </div>

                                                      <div class="form-group row">
                                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">Total Proteins</label>
                                                            <div class="col-sm-5">
                                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c6" placeholder="Normal Range is :7.2-8.0 gm/100ml">
                                                            </div>
                                                          </div>

                                                      <div class="form-group row">
                                                            <label for="inputNormal Range is :" class="col-sm-5 col-form-label">A/G Ratio</label>
                                                            <div class="col-sm-5">
                                                              <input type="text" class="form-control" id="inputNormal Range is :" name="c7" placeholder="Normal Range is :1.7-2.2">
                                                            </div>
                                                          </div>
                
                                                          <button type="submit" class="btn btn-primary mb-2" type="submit">Predict</button>
                              </form>

                  </div>
                </main>
          

              </div>










    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   
    <!-- <script src="../../../../assets/js/vendor/popper.min.js"></script> -->
    <script src="../static/Bootstrapfiles/js/bootstrap.min.js"></script>
  </body>
</html>
